@import "/src/apple/styles/base.css";
@import "/src/apple/styles/reset.css";
@import "/src/apple/styles/theme.css";

/* (Small Screen - 1024px 이하 / Large Screen - 1024px 이상) */

:root {
  --border-radius: 1.5625rem;
}

body {
  margin: 200px;
}

/* 버튼에 공통 값 추가 */
.button {
  padding: var(--x-small-spacing);
  font-size: var(--xx-small-text);
  border-radius: var(--border-radius);
}

.ipad-pro {
  margin: 20px;
  .button {
    border: 1px solid var(--blue-100);
    background: transparent;
    color: var(--blue-100);

    &.fill {
      background: var(--blue-100);
      color: var(--white);
    }
  }
}

.ipad-air {
  margin: 20px;
  .button {
    border: 1px solid var(--black);
    background: transparent;
    color: var(--black);

    &.fill {
      background: var(--black);
      color: var(--white);
    }
  }
}

.iphone-pro {
  margin: 20px;
  .button {
    border: 1px solid var(--blue-100);
    background: transparent;
    color: var(--blue-100);

    &.fill {
      background: var(--blue-100);
      color: var(--white);
    }
  }
}
.iphone {
  margin: 20px;
  .button {
    border: 1px solid var(--black);
    background: transparent;
    color: var(--black);

    &.fill {
      background: var(--black);
      color: var(--white);
    }
  }
}

.watch {
  margin: 20px;
  .button {
    border: 1px solid var(--blue-100);
    background: transparent;
    color: var(--blue-100);

    &.fill {
      background: var(--blue-100);
      color: var(--white);
    }
  }
}
.macbook {
  margin: 20px;
  .button {
    border: 1px solid var(--black);
    background: transparent;
    color: var(--black);

    &.fill {
      background: var(--black);
      color: var(--white);
    }
  }
}
.airpods {
  margin: 20px;
  .button {
    border: 1px solid var(--blue-100);
    background: transparent;
    color: var(--blue-100);

    &.fill {
      background: var(--blue-100);
      color: var(--white);
    }
  }
}
