@import "../styles/base.css";
@import "../styles/reset.css";
@import "../styles/theme.css";
/* (Small Screen - 1024px 이하 / Large Screen - 1024px 이상) */

:root {
  --border-radius: 1.5625rem;
}

/* 버튼에 공통 값 추가 */
.button {
  display: inline-flex;
  font-size: var(--xx-small-text);
  padding: var(--x-small-spacing) var(--small-spacing);
  border-radius: var(--border-radius);

  @media (min-width: 1024px) {
    font-size: var(--x-small-text);
  }
}

/* 버튼 간 사이 여백 */
.button.fill {
  margin-inline-end: var(--base-spacing);
}

.button-blue {
  .button {
    border: 1px solid var(--blue-100);
    background: transparent;
    color: var(--blue-100);

    &.fill {
      background: var(--blue-100);
      color: var(--white);
    }
  }
}

.button-black {
  .button {
    border: 1px solid var(--black);
    background: transparent;
    color: var(--black);

    &.fill {
      background: var(--black);
      color: var(--white);
    }
  }
}
