@import "../styles/base.css";
@import "../styles/reset.css";
@import "../styles/theme.css";
@import "../comp/buttonComp.css";

/* 공통 출시일 공개*/
.release {
  color: var(--gray);
  font-size: var(--small-text);
}

/* 예시 1 하얀 글씨 */
.card-container.ex-1 {
  display: flex;
  flex-flow: column wrap;
  inline-size: 100%;
  block-size: var(--size);
  margin-block-start: var(--large-spacing);
  gap: var(--small-spacing);
  text-align: center;
  grid-area: 1/1;
  color: var(--white);

  h2 {
    font-size: var(--large-text);
    font-weight: bold;
    @media (min-width: 1024px) {
      font-size: var(--extra-large-text);
    }
  }
  p {
    font-size: var(--base-text);

    @media (min-width: 1024px) {
      font-size: var(--medium-text);
      br {
        display: none;
      }
    }
  }
}
.item-container {
  display: grid;
  background: no-repeat center/cover url(/src/apple/products/ipad_pro.jpeg);

  @media (min-width: 1024px) {
    background: no-repeat center/cover
      url(/src/apple/products/ipad_pro_wide.jpeg);
  }
}

/* 예시 2 검정 글씨 */

.card-container.ex-2 {
  display: flex;
  flex-flow: column wrap;
  inline-size: 100%;
  block-size: var(--size);
  margin-block-start: var(--large-spacing);
  gap: var(--small-spacing);
  text-align: center;
  grid-area: 1/1;
  color: var(--black);

  h2 {
    font-size: var(--large-text);
    font-weight: bold;
    @media (min-width: 1024px) {
      font-size: var(--extra-large-text);
    }
  }
  p {
    font-size: var(--base-text);

    @media (min-width: 1024px) {
      font-size: var(--medium-text);
      br {
        display: none;
      }
    }
  }
}

/* 배경 */

.item-container.ipad-pro {
  display: grid;
  background: no-repeat center/cover url(/src/apple/products/ipad_pro.jpeg);

  @media (min-width: 1024px) {
    background: no-repeat center/cover
      url(/src/apple/products/ipad_pro_wide.jpeg);
  }
}

.item-container.ipad-air {
  display: grid;
  background: no-repeat center/cover url(/src/apple/products/ipad_air.jpeg);

  @media (min-width: 1024px) {
    background: no-repeat center/cover
      url(/src/apple/products/ipad_air_wide.jpeg);
  }
}
