.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

/* CSS를 활용하여 레이아웃 및 스타일링을 완성해주세요 */
:root {
  --font-base-size: 1rem;
  --font-base-color: #121212;
  --focus-color: #24388d;
  --form-block-size: 2.8125rem;
  --form-fb-color: #fff;
  --naver-color: #03cf5d;
}

body {
  box-sizing: border-box;
  font-size: var(--font-base-size);
  color: var(--font-base-color);
}

/* 1.로고 */
.logo {
  inline-size: 100%;
  text-align: center;
  margin-block-start: 6.375rem;
  svg {
    inline-size: 100%;
    inline-size: 14.375rem;
  }
}
/* 2.아이디 비밀번호 인풋 */

.form-wrap {
  padding-inline: 20px;
  inline-size: 100%;
  font-size: 0;
  box-sizing: border-box;
  @media (min-width: 48rem) {
    inline-size: 31.25rem;
  }
}

.user-id,
.user-pw {
  font-size: 0.875rem;
  border: 1px solid #dadada;
  background: var(--form-fb-color);
  block-size: var(--form-block-size);
  inline-size: 100%;
  padding-inline-start: 0.9375rem;
  box-sizing: border-box;
}

/* 폼 간격을 벌리기 위한 마진 조절 */

.id-wrap {
  margin-block-start: 3.75rem;
}

.pw-wrap {
  margin-block-start: 0.625rem;
}
/* 에러 메세지 */
.error-message {
  display: none;
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
input:user-invalid + .error-message {
  display: block;
}

/* 3.버튼 */
.button-login {
  font-size: var(--font-base-size);
  block-size: var(--form-block-size);
  color: var(--form-fb-color);
  background: var(--naver-color);
  inline-size: 100%;
  display: block;
  border: 0;
  margin-block-start: 1.25rem;
}

/* 4. 체크박스 */

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  justify-content: right;
  @media (min-width: 768px) {
    justify-content: left;
  }
  input {
    inline-size: 1.5rem;
    block-size: 1.5rem;
    appearance: none;
    position: relative;
    margin: 0;
    border: 0;

    &::before {
      content: "";
      position: absolute;
      inline-size: 1.5rem;
      block-size: 1.5rem;
      background-image: url(../img/unchecked.svg);
    }

    &:checked::before {
      background-image: url(../img/checked.svg);
    }
  }
}

/* 5. ip 보안 스위치 */

/* IP 보안 컴포넌트 */
.switch-container {
  display: none;
  @media (min-width: 768px) {
    display: flex;
    justify-content: right;
  }
}
.switch-link {
  text-decoration: none;
  color: black;
}
#on-off {
  display: none;
}
/* 디폴트 */
.switch-set {
  &::after {
    content: "OFF";
    font-size: 16px;
    color: #333;
    user-select: none;
  }
}
/* 온 전환 */
input:checked + .switch-set {
  &::after {
    content: "ON";
    color: #03cf5d;
  }
}

.all-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
